.surveyCreate {
    display: flex;
    flex-flow: column;
    padding-bottom: 30px;

    h1 {
        color: #333; 
        margin-bottom: 45px;
    }

    .surveyMaker {
        font-size: 1em;

        .uiQuestionForm {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;

            >div {
                flex: 1 0 100%;
                margin-bottom: 15px;
                text-align: left;
                font-size: 1.2em;
            }

            form {
                display: flex;
                flex-wrap: wrap;
                flex: 1 1 100%;

                textarea {
                    flex: 1 1 100%;
                    height: 50px;
                    border: none;
                    border-radius: 2px;
                    font-size: 0.9em;
                    padding: 5px;
                    box-sizing: border-box;
                    margin-bottom: 15px;
                    &:focus {
                        outline: none;
                    }
                }

                .answerType {
                    text-align: left;
                    margin-bottom: 15px;
                    input[type="radio"] {
                        margin-right: 10px;
                        margin-left: 0px;
                        &.typeLikert {
                            margin-left: 30px;
                        }
                    }
    
                    input.typeLikert:checked ~ .likertTexts {
                        display: flex;
                    }
    
                    .likertTexts {
                        display: none;
                        flex-wrap: wrap;
                        margin-top: 15px;
                        justify-content: flex-start;

                        input {
                            flex: 1;
                            flex-basis: 100px;
                            min-width: 100px;
                            margin-right: 5px;
                            margin-bottom: 5px;
                            font-size: 0.9em;
                            padding: 5px;
                            &:focus {
                                outline: none;
                            }
                            &:nth-child(5) {
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }
        }
    
        .uiQuestionsList {
            list-style: none;
            text-align: left;
            background-color: #ddd;
            padding: 15px;

            li {
                position: relative;

                .answerType {
                    font-size: 0.8em;
                    font-weight: 700;
                    color: var(--orange5);
                    font-style: italic;
                    margin-bottom: 10px;
                }
    
                .deleteBtn {
                    position: absolute;
                    right: 0;
                    top: calc((100% - 28px)/2);
                    border-radius: 20px;
                    width: 20px;
                    min-width: auto;
                    height: 20px;
                    border: 2px solid #333;
                    background-color: transparent;
                    padding: 2px;
                    color: #333;
                    text-align: center;
                    cursor: pointer;

                    path {
                        pointer-events: none;
                    }

                    &:hover {
                        color: #555;
                        border-color: #555;
                    }
                }
            }
        }

        .btnContainer {
            flex: 1 0 100%;
            text-align: right;
        }
    }
}